# Unix
case `uname` in
  Darwin)
    alias ls="ls -1GF"
  ;;
  Linux)
    export LS_COLORS="ow=01;34"
    alias ls="ls -1F --color"
  ;;
esac

alias la="ls -a"
alias ll="ls -al"

# Git
alias gs="git status"
alias gb="git branch"
alias gc="git checkout"
alias gcm="git checkout master"
alias gd="git diff"
alias gl="git pull"

# WSL
alias adb="adb.exe" # Use Windows adb.exe
alias pc='head -n1 | clip.exe' # Read first line output of pass, then pipe into clip
